*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root{
    --color-primary: #B5E521;
	--color-secondary: #9AD7E7;
	--color-web: #F8F6F0;
    --color-dark: #0F0E0C;
    --color-light: #FBFBFB;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--color-light);
}

nav .nav-wrapper {
    background-color: var(--color-secondary);

}

.page-footer {
    background-color: var(--color-secondary);
}

.contedor{
    height: 50vh;
    width: 100%;
    /* background-color: var(--color-web); */
}