*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root{
    --color-primary: #B5E521;
	--color-secondary: #9AD7E7;
	--color-web: #F8F6F0;
    --color-dark: #0F0E0C;
    --color-light: #FBFBFB;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    /* background: var(--color-web); */
}

.navigation{
    position: fixed;
    width: 0vw;
    height: 100%;
    background: var(--color-light);
    transition: 0.5s;
    overflow: hidden;
}


.navigation:hover,
.navigation.active{
    width: 30vw;
}


.navigation ul{
    position: absolute;
    width: 100%;
}


.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;

}

.navigation ul li:hover{
    background: var(--color-web);
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--color-dark);
}

.navigation ul li a:hover{
    color: var(--color-primary);
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 50px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon {
    font-size: 20px;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 30px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    font-size: 20px;
}

.navigation ul li a .href-1{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--color-primary);
}

.navigation ul li:first-child{
    position: relative;
    display: block;
    min-width: 60px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    font-size: 20px;
    
}


.navigation ul li a .icon-user{
    position: relative;
    display: block;
    min-width: 60px;
    height: 50px;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;
    font-size: 40px;

}

.navigation ul li a .title-user{
    position: relative;
    display: block;
    padding: 0 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    align-items: flex-start;
}

.toggle{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
}

.toggle.active{
    background-color: var(--color-secondary);
}

.toggle:before{
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    display: contents;
    color: var(--color-dark);
}

.toggle.active:before{
    content: '\f00d';
    font-family: fontAwesome;
    color: var(--color-dark);
}

@media (max-width: 767px){
    .navigation{
        left: -60px;
    }

    .navigation.active{
        left: 0px;
        width: 100%;
    }
    .navigation ul li a .title{
        height: 70px;
    }
    
}

@media only screen and (min-width: 576px) and (max-width: 768px){
    .navigation:hover,
    .navigation.active{
        width: 40vw;
    }
    .navigation ul li:first-child {
        height: 125px;
        font-size: 30px;
    }
    .navigation ul li a .title{
        height: 90px;
    }
    
}

@media only screen and (min-width: 1237px) and (max-width: 2138px){
    .navigation:hover,
    .navigation.active{
        width: 25vw;
    }
    .navigation ul li:first-child {
        height: 130px;
        font-size: 40px;
    }
    .navigation ul li a .title{
        height: 90px;
    }
    .navigation ul li a {
        height: 10vh;

    }
    
}

